body{
	margin:0;
	background:#303030;
	color:#ecf0f1;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
}
a{
	color:#f1c40f;
}
a:hover{
	color:#f39c12;
}
textarea, 
input[type="text"],
input[type="password"]{
	color: #111;
}
select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#666666;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
/*upper menu*/
.navbar{
	border-radius:0;
	border:none;
	position:relative;
	z-index:100001;
}
.navbar-default{/*this class add a new style to nav bar, to add a new one keep this one as bkp if want to use it again*/
	background:linear-gradient(#1c1c1c, #222222);
	border-top:1px solid #1c1c1c;
	border-bottom:1px solid #1c1c1c;
	box-shadow:inset 0 1px 0 #1c1c1c, 0 1px 3px rgba(0, 0, 0, 0.15);
}
.container-fluid{
	font-weight:800 !important;
	/*text-transform:uppercase;*/
}
.navbar-header{
	float:none;
}
.navbar-toggle{
	display:block;
	background:#FDF9F9;
	margin-right:30px;
	border:none;
}
.dropdown{
	margin-left:15px;
}
.dropdown a{
	color:#FFFFFF !important;
}
.dropdown a:hover, a:active{
	color:#f39c12 !important;
}
.dropdown-menu a:hover{
	border:solid 1px;
}
/*Shortcuts*/
ul.usr-inf{
	position:relative;
	width:100%;
	top:-20px;
	margin-top:0;
	background:#3F3F3F;
	text-align:center;
	padding:0;
	border-radius:5px;
	display:block;
	list-style-type:none;
}
ul.usr-inf.halfframe.left{
	width:50% !important;
}
ul.usr-inf.halfframe.right{
	width:50% !important;
	float:right;
}
ul.usr-inf.frame{
	display:none;
}
ul.usr-inf .usr-inf-title{
	background:linear-gradient(#1c1c1c, #2c2c2c);
	padding:3px 0;
	border:1px solid #1c1c1c;
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.usr-inf li a{
	color:#FFF;
	text-transform:uppercase;
	font-weight:800;
	display:block;
	text-decoration:none;
}
.usr-inf li.starter{
	padding:0 0 10px 0;
}
.usr-inf span.next_level{
	width:94%;
	margin:10px auto 0 auto;
	background:#212121;
	display:block;
	border-radius:4px;
	font-size:10px;
	padding:2px;
	color:#FFF;
}
.usr-inf span.next_level_p{
	background:#6EB028;
	display:block;
	border-radius:4px;
	text-align:right;
}
.info-box a{
	display:block;
	padding:2px 10px;
	text-align:center;
	font-size:12px;
	text-transform:none !important;
	font-weight:400  !important;
	border-bottom:1px solid #2A2A2A;
}
.info-box a:hover{
	background:#333;
}
.user-info p{
	padding:2px 0;
	font-size:12px;
	margin:0;
	display:block;
	border-bottom:1px solid #323232;
}
/*General content*/
#content{
	position:relative;
	top:-15px;
	width:100%;
	background:#212121;
}
#content .header{
	width:100%;
	text-transform:uppercase;
	color:#FFF;
	font-weight:800;
	text-align:center;
	background:linear-gradient(#0D0D0D, #000);
	padding:10px 0 1px 0;
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.35);
}
#content .header p{
	font-size:14px;
}
#content .header.in{
	border-radius:0;
	text-align:center;
}
/*membersarea*/
.pretty-table{
	border-collapse:collapse;
	margin:auto;
	width:100%;
}
.pretty-table th{
	/* background:linear-gradient(#627762, #556A59); */
	/* height:23px; */
	width:50%;
	font-size:12px;
	font-weight:100;
	/* box-shadow:rgba(199, 199, 199, 0.28) 0px 1px 0px inset, #1D1D1D 0px 1px 0px, #252525 0px 2px 0px; */
	text-align:center;
	text-transform:uppercase;
	font-weight:800;
	background:#16a085;
	padding:4px 0;
	color:#FFF;
}
.pretty-table td{
	padding:10px;
	text-align:center;
	border-bottom:1px solid #27323E;	
	border-left:1px solid #27323E;
}
.pretty-table td a:hover{
	text-decoration:underline;
}
.pretty-table td a{
	text-decoration:none;
	color:#f1c40f;
}
/*Profile*/
.profile{
	text-align:left;
}
.profile .trainer-card{
	width:90%;
	max-width:459px;
	margin:10px auto 20px auto;
	background:#000 url(../images/layout/tc-bg.jpg) no-repeat;
	height:272px;
	box-shadow:inset 3px 3px black, inset -3px -3px black;
	position:relative;
}
.profile .trainer-card .tc-img{
	position:relative;
	width:98%;
	height:72px;
	background:url(../images/tc-img.png) no-repeat;
	margin:auto;
	top:3px;
}
.profile .trainer-card .tc-img .t-info{
	position:absolute;
	top:12px;
	right:10px;
	background:#111111;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.15);
	padding-left:15px;
	width:40%;
	height:25px;
	line-height:25px;
	font-size:12px;
	/*font-weight:bold;*/
}
.profile .trainer-card .avatar{
	position:absolute;
	top:130px;
	right:-10px;
}
.profile .trainer-card table{
	margin-top:10px;
	margin-left:10px;
}
.profile .trainer-card .box{
	width:86px;
	height:86px;
	background:rgba(38, 38, 38, 0.8);
	border:2px solid #151515;
	vertical-align:middle;
	display:inherit;
	text-align:center;
}
.profile .trainer-card .box:hover > .info{
	display:block !important;
	position:absolute;
	left:75px;
	background:#39507B;
	padding:10px;
	border-radius:2px;
	font-size:12px !important;
	border:2px solid white;
	top:-70px;
	width:140px;
}
.profile .trainer-card .box .info a{
	color:#E7AB15;
	font-size:12px;
}
.profile .trainer-card table img{
	max-width:86px;
	max-height:86px;
}
.profile .links{
	margin:5px auto;
	width:100%;
}
.profile .links a{
	min-width:89px;
	font-size:10px;
	color:white;
	text-transform:lowercase;
	display:inline-block;
	height:23px;
	line-height:23px;
	background:linear-gradient(#E74C3C, #AA3529);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 3px rgba(0, 0, 0, 0.2);
	text-align:center;
	margin:0 2px 5px 0;
	border-radius:2px;
}
.profile .statics .info{
	width:100%;
	text-align:center;
	font-size:12px;
}
.profile .statics .fixed-stats{
	width:100%;
}
.profile .statics .fixed-stats .stats{
	position:relative;
	width:100%;
	min-height:200px;
	top:-10px;
	background:#34495e;
	border-radius:2px;
	margin:auto;
	border:5px solid #34495e;
}
.profile .statics .fixed-stats .badges{
	width:100%;
	margin:auto;
}
.profile .statics .fixed-stats .badges p{
	/* padding:4px 0; */
	font-size:12px;
	background:#34495e;
	/* height:10px; */
	/* line-height:10px; */
	margin:2px 0;
	padding:3px 10px;
	border-radius:3px;
}

.profile .about{
	padding-bottom:40px;
}
.profile .signature{
	width:50%;
	min-height:50px;
	margin:20px auto 0 auto;
	text-align:center;
	background:#34495e;
	padding:5px;
}
.profile .signature img{
	max-width:100%;
}
textarea{
	width:90%;
}
.button{
    border-radius:2px;
    border:none;
    background:#E43232;
    padding:4px 75px !important;
    color:#FFF !important;
    text-align:center;
    outline:none;
    box-shadow:0 2px 0 #A72323, 0 1px 0 rgba(255, 255, 255, 0.20) inset;
    position:center;
    top:0;
	margin-bottom:5px;
    transition:all 0.2s ease;
}
.button:focus{
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);
    top:2px;
}
.button:hover{
    background:#F24A4A;
}
.wmsg{
	float:left;
	width:100% !important;
}
.smallbutton{
    border-radius:2px;
    border:none;
    background:#E43232;
    padding:4px 30px !important;
    color:#FFF !important;
    text-align:center;
    outline:none;
    box-shadow:0 2px 0 #A72323, 0 1px 0 rgba(255, 255, 255, 0.20) inset;
    position:center;
    top:5px;
	margin-bottom:5px;
    transition:all 0.2s ease;
}
/*map*/
.maptable{
	position:relative;
	width:100%;
	text-align:center;
}
/*make map responsivity*/
#map{
	position:relative;
	width:100%;
	background-size:100% 100%;
	background-repeat:no-repeat !important;
}
#map:after{
	content:"";
	display:block;
	padding-bottom:100%;
}
#mySprite{
	position:absolute;
	background-size:100% 100%;
	background-repeat:no-repeat;
	z-index: 1000;
}
.team{
	width:100%;
	background:#0F0F0F;
	box-shadow:inset 0 1px 0 #1B1B1B, 
				inset 0 -1px 0 #1B1B1B;
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	margin-top:5px;
	padding-bottom:5px;
}
.team img{
	width:40px;
}
#chatMsg{
	position:relative;
	width:100%;
	height:300px;
	background:linear-gradient(#333333, #1c1c1c);
	border-top:1px solid #1c1c1c;
	border-bottom:1px solid #1c1c1c;
	box-shadow:inset 0 1px 0 #1c1c1c, 0 1px 3px rgba(0, 0, 0, 0.15);
	border-radius:8px;
	border:solid 1px;
	overflow:hidden;
}
.chatbox{
	width:100%;
	background:linear-gradient(#1c1c1c, #333333, #1c1c1c);
	border:1px solid #FFF;
	border-radius:8px;
	box-shadow:inset 0 1px 0 #1c1c1c, 0 1px 3px rgba(0, 0, 0, 0.15);
}
.chatbox{
	color:#FFF;
	text-decoration:none;
}
.chatError{
	display:none;
	width:90%;
	background:red;
}
/*battle*/
.battling{
	width: 100%
}














#footer{
	height:20px;
	line-height:20px;
	font-size:12px;
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	background:#111;
}
#footer p{
	display:inline-block;
	padding-right:20px;
}
#footer p.info{
	color:#B42424;
}
#footer p.credits{
	color:#569C28;
}
#footer p.info a{
	color:#7E7E7E;
	text-decoration:none;
}
#footer p.credits a{
	color:#1D7ED8;
	text-decoration:none;
}
/*pc layout*/
@media (min-width:768px){
.navbar-header{
	display:none;
}
.dropdown-menu{
	background:linear-gradient(#1c1c1c, #222222);
}
/*starter box*/
ul.usr-inf{
	position:relative;
	width:13%;
	top:20px;
	margin-top:0;
	background:#3F3F3F;
	text-align:center;
	padding:0;
	border-radius:5px;
	display:block;
}
ul.usr-inf.left{
	float:left;
}
ul.usr-inf.halfframe.left{
	width:13% !important;
}
ul.usr-inf.right{
	float:right;
}
ul.usr-inf.halfframe.right{
	width:13% !important;
	left:13% !important;
	top:290px !important;
}
ul.usr-inf.frame{
	margin-left:-13%;
	top:160px;
	display:block;
}
/*center content*/
#content{
	position:absolute;
	width:60%;
	left:50%;
	margin-left:-30%;
	top:80px;
}

/*profile*/
.profile .trainer-card{
	width:60%;
	background-size:100%;
}
/*team*/
.pretty-table.team{
	width:100%;
	background:#212121;
}
.pretty-table.team th{
	width:20%;
}
.pretty-table.team img{
width:120px !important;
}
/*pokedex 45*/
.pokedex{
	width:100%;
	background:#212121;
}
.pokedex th{
	width:25%;
}
/*members*/
.members{
	width:100%;
	background:#212121;
}
.members th{
	width:25%;
}
/*map*/
#map{
	position:relative;
	width:400px;
	background-size:100% 100%;
	background-repeat:no-repeat !important;
}



}