body{
	margin: 0;
	font-family: Arial;
}

.msgframe{
	padding-top: 10px;
	width: 598px;
	border: none;
	
}

.msgby{
	position: absolute;
	width: 70px;
	left: 10px;
	color: #3c3c3c;
	font-size: 11px;
}

.messages{
	position:relative;
	left: 80px;
	width: 500px;
	color: #3c3c3c;
	font-size: 11px;
	word-break: break-all;
}

.messages:hover{
	color: #239829;
}

.date{
	float:right;
	position:relative;
	right:20px;
	color: #849203;
	font-size: 12px;
	}
	
.txtfield{
	resize: none;
	width: 598px;
	height:25px;
	color: #849203;
	font-size: 12px;
	border-radius: 8px;
	}

.sendbuttom{
	position: relative;
	float: right;
	top: -25px;
	height:25px;
	font-family: Arial;
	font-weight: bold;
	color: #3c3c3c;
	background: #FFF;
	border-radius: 8px;
	border: solid 1px;
}
